$vividpink: rgb(216, 47, 139);
$lightpink: rgba(216, 47, 139, 0.5);
$page: rgb(32, 37, 41);
* {
  font-family: "Open Sans", sans-serif;
  color: rgb(216, 47, 139);
}
.site-wrapper {
  min-height: 100vh;
  //
  background-color: black;
}
.search-title {
  color: $vividpink;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 0;
  font-size: 30px;
}
.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  height: 100%;
}

input {
  background-color: $lightpink;
  border: none;
  color: white;
  border-radius: 10px;
  height: 3vh;
}
::placeholder {
  color: white;
  font-size: 25px;
}
.search {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.artist-name {
  font-family: "Lilita One", cursive;
  color: $vividpink;
  //
  font-size: 13vh;
  padding-left: 30vh;
  margin-top: 3vh;
}
.artist-bio {
  color: $vividpink;
  max-width: 700px;
  //
  padding: 30vh 0vh 9vh 5vh;
  text-align: justify;
}
.artist-pic {
  height: 50vh;
  width: 50vh;
  //
  margin: 3vh 0vh 0vh 5vh;
}
.profile {
  display: flex;
  justify-content: baseline;
}
.explore {
  background-color: $vividpink;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  &:hover {
    background-color: $lightpink;
    color: white;
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
  }
}
.home-page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(216, 47, 139);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navbar {
  background-color: $page;
  .navbar-brand {
    .fa-record-vinyl {
      color: rgb(216, 47, 139);
    }
  }
  .nav-item {
    margin-left: 10px;
    a,
    span {
      text-decoration: none;
      cursor: pointer;
      color: rgb(216, 47, 139);
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
